# Q.1 Perform sentimental analysis on the Elon-musk tweets (Exlon-musk.csv)

# Required Labraries

In [1]:
#import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sbn
from nltk.corpus import stopwords
from textblob import TextBlob

In [2]:
#pip install textblob

In [3]:
#load dataset
tweet = pd.read_csv('Elon_musk.csv',encoding="latin")
tweet.head()

   Unnamed: 0                                               Text
0           1                             @kunalb11 Im an alien
1           2  @ID_AA_Carmack Ray tracing on Cyberpunk with H...
2           3                @joerogan @Spotify Great interview!
3           4                    @gtera27 Doge is underestimated
4           5  @teslacn Congratulations Tesla China for amazi...

In [4]:
df=tweet.copy()

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1999 entries, 0 to 1998
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1999 non-null   int64
 1   Text        1999 non-null   object
dtypes: int64(1), object(1)
memory usage: 31.4+ KB

In [6]:
df.isnull().sum()

Unnamed: 0    0
Text          0
dtype: int64

In [7]:
df.describe().T

             count    mean         std  min    25%     50%     75%     max
Unnamed: 0  1999.0  1000.0  577.205914  1.0  500.5  1000.0  1499.5  1999.0

In [8]:
df.aggregate

<bound method DataFrame.aggregate of       Unnamed: 0                                               Text
0              1                             @kunalb11 Im an alien
1              2  @ID_AA_Carmack Ray tracing on Cyberpunk with H...
2              3                @joerogan @Spotify Great interview!
3              4                    @gtera27 Doge is underestimated
4              5  @teslacn Congratulations Tesla China for amazi...
...          ...                                                ...
1994        1995  @flcnhvy True, it sounds so surreal, but the n...
1995        1996  @PPathole Make sure to read ur terms &amp; con...
1996        1997                @TeslaGong @PPathole Samwise Gamgee
1997        1998  @PPathole Altho Dumb and Dumber is <U+0001F525...
1998        1999                          Progress update August 28

[1999 rows x 2 columns]>

In [9]:
import warnings
warnings.filterwarnings("ignore")

# Number of Words

In [10]:
#Number of Words in single tweet
df['word_count'] = df['Text'].apply(lambda x: len(str(x).split(" ")))
df[['Text','word_count']].head()

                                                Text  word_count
0                             @kunalb11 Im an alien           4
1  @ID_AA_Carmack Ray tracing on Cyberpunk with H...          13
2                @joerogan @Spotify Great interview!           4
3                    @gtera27 Doge is underestimated           4
4  @teslacn Congratulations Tesla China for amazi...          17

# Number of Characters

In [11]:
#Number of characters in single tweet
df['char_count'] = df['Text'].str.len() ## this also includes spaces
df[['Text','char_count']].head()

                                                Text  char_count
0                             @kunalb11 Im an alien          22
1  @ID_AA_Carmack Ray tracing on Cyberpunk with H...          82
2                @joerogan @Spotify Great interview!          35
3                    @gtera27 Doge is underestimated          31
4  @teslacn Congratulations Tesla China for amazi...         104

# Average Word Length

In [12]:
def avg_word(sentence):
    words = sentence.split()
    return (sum(len(word) for word in words)/len(words))

df['avg_word'] = df['Text'].apply(lambda x: avg_word(x))
df[['Text','avg_word']].head()

                                                Text  avg_word
0                             @kunalb11 Im an alien  4.750000
1  @ID_AA_Carmack Ray tracing on Cyberpunk with H...  5.384615
2                @joerogan @Spotify Great interview!  8.000000
3                    @gtera27 Doge is underestimated  7.000000
4  @teslacn Congratulations Tesla China for amazi...  5.176471

# Number of stopwords

In [13]:
stop = stopwords.words('english')

df['stopwords'] = df['Text'].apply(lambda x: len([x for x in x.split() if x in stop]))
df[['Text','stopwords']].head()

                                                Text  stopwords
0                             @kunalb11 Im an alien          1
1  @ID_AA_Carmack Ray tracing on Cyberpunk with H...          4
2                @joerogan @Spotify Great interview!          0
3                    @gtera27 Doge is underestimated          1
4  @teslacn Congratulations Tesla China for amazi...          5

# Number of Special Characters

In [14]:
df['hastags'] = df['Text'].apply(lambda x: len([x for x in x.split() if x.startswith('@')]))
df[['Text','hastags']].head()

                                                Text  hastags
0                             @kunalb11 Im an alien        1
1  @ID_AA_Carmack Ray tracing on Cyberpunk with H...        1
2                @joerogan @Spotify Great interview!        2
3                    @gtera27 Doge is underestimated        1
4  @teslacn Congratulations Tesla China for amazi...        1

# Number of Numerics

In [15]:
df['numerics'] = df['Text'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
df[['Text','numerics']].head()

                                                Text  numerics
0                             @kunalb11 Im an alien         0
1  @ID_AA_Carmack Ray tracing on Cyberpunk with H...         0
2                @joerogan @Spotify Great interview!         0
3                    @gtera27 Doge is underestimated         0
4  @teslacn Congratulations Tesla China for amazi...         0

# Number of Upper Case Words

In [16]:
df['upper'] = df['Text'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
df[['Text','upper']].head()

                                                Text  upper
0                             @kunalb11 Im an alien      0
1  @ID_AA_Carmack Ray tracing on Cyberpunk with H...      1
2                @joerogan @Spotify Great interview!      0
3                    @gtera27 Doge is underestimated      0
4  @teslacn Congratulations Tesla China for amazi...      0

# Pre - Processing

# 1 Lower Case
                              @

In [17]:
df['Text'] = df['Text'].apply(lambda x: " ".join(x.lower() for x in x.split()))
df['Text'].head()

0                               @kunalb11 im an alien
1    @id_aa_carmack ray tracing on cyberpunk with h...
2                  @joerogan @spotify great interview!
3                      @gtera27 doge is underestimated
4    @teslacn congratulations tesla china for amazi...
Name: Text, dtype: object

# 2 Removing Punctuation

In [18]:
df['Text'] = df['Text'].str.replace('[^\w\s]','')
df['Text'].head()

0                                 kunalb11 im an alien
1    id_aa_carmack ray tracing on cyberpunk with hd...
2                     joerogan spotify great interview
3                       gtera27 doge is underestimated
4    teslacn congratulations tesla china for amazin...
Name: Text, dtype: object

# 3 Removal of Stop Words

In [19]:
stop = stopwords.words('english')
df['Text'] = df['Text'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
df['Text'].head()

0                                    kunalb11 im alien
1    id_aa_carmack ray tracing cyberpunk hdr nextle...
2                     joerogan spotify great interview
3                          gtera27 doge underestimated
4    teslacn congratulations tesla china amazing ex...
Name: Text, dtype: object

# 4 Common word removal

In [20]:
freq = pd.Series(' '.join(df['Text']).split()).value_counts()[:10]
freq

spacex            239
amp               218
tesla             166
erdayastronaut    142
rt                127
ppathole          123
flcnhvy           114
yes                86
great              76
teslaownerssv      73
dtype: int64

In [21]:
freq = list(freq.index)
df['Text'] = df['Text'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
df['Text'].head()

0                                    kunalb11 im alien
1    id_aa_carmack ray tracing cyberpunk hdr nextle...
2                           joerogan spotify interview
3                          gtera27 doge underestimated
4    teslacn congratulations china amazing executio...
Name: Text, dtype: object

# 5 Rare Words Removal

In [22]:
freq = pd.Series(' '.join(df['Text']).split()).value_counts()[-10:]
freq

nyquil                1
musk                  1
negati                1
httpstco6ohta09s5l    1
carousel              1
joeingeneral          1
andrewbogut           1
typical               1
unusual               1
altho                 1
dtype: int64

In [23]:
freq = list(freq.index)
df['Text'] = df['Text'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
df['Text'].head()

0                                    kunalb11 im alien
1    id_aa_carmack ray tracing cyberpunk hdr nextle...
2                           joerogan spotify interview
3                          gtera27 doge underestimated
4    teslacn congratulations china amazing executio...
Name: Text, dtype: object

# 6 Spelling correction

In [24]:
df['Text'][:5].apply(lambda x: str(TextBlob(x).correct()))

0                                    kunalb11 in alien
1    id_aa_carmack ray tracing cyberpunk her nextle...
2                           joerogan specify interview
3                          gtera27 done underestimated
4    teslacn congratulations china amazing executio...
Name: Text, dtype: object

# 7 Tokenization

In [25]:
TextBlob(df['Text'][1]).words

WordList(['id_aa_carmack', 'ray', 'tracing', 'cyberpunk', 'hdr', 'nextlevel', 'tried'])

In [26]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\USER\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

# 8 Stemming

In [27]:
from nltk.stem import PorterStemmer
st = PorterStemmer()
df['Text'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

0                                    kunalb11 im alien
1    id_aa_carmack ray trace cyberpunk hdr nextleve...
2                           joerogan spotifi interview
3                              gtera27 doge underestim
4    teslacn congratul china amaz execut last year ...
Name: Text, dtype: object

# 9 Lemmatization

In [28]:
from textblob import Word
import nltk
nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\USER\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [29]:
df['Text'] = df['Text'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
df['Text'].head()

0                                    kunalb11 im alien
1    id_aa_carmack ray tracing cyberpunk hdr nextle...
2                           joerogan spotify interview
3                          gtera27 doge underestimated
4    teslacn congratulation china amazing execution...
Name: Text, dtype: object

# Advanced Text Processing

# 1 N-grams

In [30]:
TextBlob(df['Text'][0]).ngrams(2)

[WordList(['kunalb11', 'im']), WordList(['im', 'alien'])]

# 2 Term frequency
Term frequency is simply the ratio of the count of a word present in a sentence, to the length of the sentence.

Therefore, we can generalize term frequency as:

TF = (Number of times term T appears in the particular row) / (number of terms in that row)

In [31]:
tf1 = (df['Text'][1:2]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
tf1.columns = ['words','tf']
tf1

           words  tf
0  id_aa_carmack   1
1            ray   1
2        tracing   1
3      cyberpunk   1
4            hdr   1
5      nextlevel   1
6          tried   1

# 3 Inverse Document Frequency
The intuition behind inverse document frequency (IDF) is that a word is not of much use to us if it’s appearing in all the documents.

Therefore, the IDF of each word is the log of the ratio of the total number of rows to the number of rows in which that word is present.

IDF = log(N/n), where, N is the total number of rows and n is the number of rows in which the word was present.

In [32]:
for i,word in enumerate(tf1['words']):
    tf1.loc[i, 'idf'] = np.log(df.shape[0]/(len(df[df['Text'].str.contains(word)])))

tf1

           words  tf       idf
0  id_aa_carmack   1  4.166415
1            ray   1  5.035453
2        tracing   1  7.600402
3      cyberpunk   1  5.115496
4            hdr   1  6.907255
5      nextlevel   1  6.907255
6          tried   1  5.808643

# 4 Term Frequency – Inverse Document Frequency (TF-IDF)

In [33]:
tf1['tfidf'] = tf1['tf'] * tf1['idf']
tf1

           words  tf       idf     tfidf
0  id_aa_carmack   1  4.166415  4.166415
1            ray   1  5.035453  5.035453
2        tracing   1  7.600402  7.600402
3      cyberpunk   1  5.115496  5.115496
4            hdr   1  6.907255  6.907255
5      nextlevel   1  6.907255  6.907255
6          tried   1  5.808643  5.808643

In [34]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(max_features=1000, lowercase=True, analyzer='word',
 stop_words= 'english',ngram_range=(1,1))
vect = tfidf.fit_transform(df['Text'])
vect

<1999x1000 sparse matrix of type '<class 'numpy.float64'>'
	with 7374 stored elements in Compressed Sparse Row format>

# 5 Bag of Words

In [35]:
from sklearn.feature_extraction.text import CountVectorizer
bow = CountVectorizer(max_features=1000, lowercase=True, ngram_range=(1,1),analyzer = "word")
data_bow = bow.fit_transform(df['Text'])
data_bow

<1999x1000 sparse matrix of type '<class 'numpy.int64'>'
	with 8020 stored elements in Compressed Sparse Row format>

# 6 Sentiment Analysis

In [36]:
df['Text'][:5].apply(lambda x: TextBlob(x).sentiment)

0                                 (-0.25, 0.75)
1                                    (0.0, 0.0)
2                                    (0.0, 0.0)
3                                    (0.0, 0.0)
4    (0.20000000000000004, 0.32222222222222224)
Name: Text, dtype: object

In [37]:
df['sentiment'] = df['Text'].apply(lambda x: TextBlob(x).sentiment[0] )
df[['Text','sentiment']].head()

                                                Text  sentiment
0                                  kunalb11 im alien      -0.25
1  id_aa_carmack ray tracing cyberpunk hdr nextle...       0.00
2                         joerogan spotify interview       0.00
3                        gtera27 doge underestimated       0.00
4  teslacn congratulation china amazing execution...       0.20